In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [4]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxi_date', con = engine))

CREATE TABLE yellow_taxi_date (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [8]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100_000)

In [10]:
df = next(df_iter)

In [12]:
len(df)

100000

In [13]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [14]:
df.head(n=0).to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'replace')

0

In [15]:
%time df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'append')

CPU times: user 4.66 s, sys: 325 ms, total: 4.98 s
Wall time: 8.28 s

1000

In [16]:
from time import time

In [17]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(name = 'yellow_taxi_data', con=engine, if_exists = 'append')
    
    t_end = time()
    
    print('Inserted another chunk..., took %.3f second' % (t_end - t_start))

Inserted another chunk..., took 7.582 second
Inserted another chunk..., took 8.049 second
Inserted another chunk..., took 7.384 second
Inserted another chunk..., took 8.185 second
Inserted another chunk..., took 7.507 second
Inserted another chunk..., took 7.817 second
Inserted another chunk..., took 7.703 second
Inserted another chunk..., took 7.960 second
Inserted another chunk..., took 7.316 second
Inserted another chunk..., took 8.135 second
Inserted another chunk..., took 8.200 second

/var/folders/1l/0n7xfm2521d_33g0vt27v48h0000gn/T/ipykernel_2898/4162398237.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 8.416 second
Inserted another chunk..., took 4.638 second

StopIteration: