In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("test") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 13:26:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

24/03/04 13:27:08 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [6]:
df_green.registerTempTable('green')

/opt/homebrew/Cellar/apache-spark/3.5.1/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [18]:
df_green_revenue = spark.sql("""
SELECT 
    -- Reveneue grouping 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    -- Revenue calculation 
    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [16]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999997|            45|
|2020-01-01 00:00:00|  17|            195.03|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|317.27000000000004|            11|
|2020-01-01 00:00:00|  35|129.95999999999998|             5|
|2020-01-01 00:00:00|  36|295.34000000000003|            11|
|2020-01-01 00:00:00|  37|175.67000000000002|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.98000000000002|             8|
|2020-01-01 00:00:00|  41|1363.9599999999987|            84|
|2020-01-01 00:00:00|  42| 799.7599999999994|            52|
|2020-01-01 00:00:00|  43|            107.52|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|266.76000000000005|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [24]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

24/03/04 13:43:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/04 13:43:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [20]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [21]:
df_yellow.registerTempTable('yellow')

/opt/homebrew/Cellar/apache-spark/3.5.1/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [22]:
df_yellow_revenue = spark.sql("""
SELECT 
    -- Reveneue grouping 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    -- Revenue calculation 
    SUM(total_amount) AS amount,
    COUNT(1) as number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [25]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

24/03/04 13:43:36 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/04 13:43:36 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [32]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellowrevenue = spark.read.parquet('data/report/revenue/yellow')

In [33]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')
    
df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [34]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [30]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [35]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

24/03/04 14:18:01 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [27]:
df_join.show()

+-------------------+----+------------------+--------------+------------------+--------------+
|               hour|zone|            amount|number_records|            amount|number_records|
+-------------------+----+------------------+--------------+------------------+--------------+
|2020-01-01 00:00:00|  22|              15.8|             1|              NULL|          NULL|
|2020-01-01 00:00:00|  25|             531.0|            26|            324.35|            16|
|2020-01-01 00:00:00|  55|129.29000000000002|             4|              NULL|          NULL|
|2020-01-01 00:00:00|  56|             99.69|             3|              18.1|             2|
|2020-01-01 00:00:00|  60|            160.04|             6|57.620000000000005|             2|
|2020-01-01 00:00:00|  61|            526.71|            17|            146.64|             3|
|2020-01-01 00:00:00|  65|            199.49|            10|            409.35|            19|
|2020-01-01 00:00:00|  71|              23.8|             1|              NULL|          NULL|
|2020-01-01 00:00:00|  78|             34.46|             2|              NULL|          NULL|
|2020-01-01 00:00:00|  88|              NULL|          NULL| 823.8000000000002|            36|
|2020-01-01 00:00:00| 106|             10.56|             1|              NULL|          NULL|
|2020-01-01 00:00:00| 112|312.26000000000005|            18|119.47999999999999|             8|
|2020-01-01 00:00:00| 113|              NULL|          NULL| 3984.319999999997|           220|
|2020-01-01 00:00:00| 148|              NULL|          NULL| 6790.150000000008|           371|
|2020-01-01 00:00:00| 161|              NULL|          NULL| 9410.210000000021|           488|
|2020-01-01 00:00:00| 162|              NULL|          NULL| 4622.289999999997|           268|
|2020-01-01 00:00:00| 185|              NULL|          NULL|             69.51|             2|
|2020-01-01 00:00:00| 190|             61.97|             4|              54.1|             3|
|2020-01-01 00:00:00| 194|              NULL|          NULL|            148.71|             2|
|2020-01-01 00:00:00| 225|251.92000000000004|            13|             74.07|             3|
+-------------------+----+------------------+--------------+------------------+--------------+
only showing top 20 rows

In [36]:
df_join = spark.read.parquet('data/report/revenue/total')

In [38]:
df_zones = spark.read.parquet('zones/')

In [39]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [37]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   4|              NULL|                NULL|1004.3000000000002|                   57|
|2020-01-01 00:00:00|  15|              NULL|                NULL|             34.09|                    1|
|2020-01-01 00:00:00|  35|129.95999999999998|                   5|              NULL|                 NULL|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000009|                  390|
|2020-01-01 00:00:00|  45|              NULL|                NULL| 732.4800000000002|                   42|
|2020-01-01 00:00:00|  50|              NULL|                NULL| 4177.479999999998|                  183|
|2020-01-01 00:00:00|  62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|  63|              51.9|                   2|              70.8|                    1|
|2020-01-01 00:00:00|  70|54.900000000000006|                   3|               9.3|                    1|
|2020-01-01 00:00:00|  74| 317.0900000000001|                  24| 586.2100000000003|                   47|
|2020-01-01 00:00:00|  79|              NULL|                NULL| 12573.81000000003|                  721|
|2020-01-01 00:00:00|  82| 305.1200000000001|                  28|              29.8|                    1|
|2020-01-01 00:00:00|  83|              94.1|                   7|               9.8|                    1|
|2020-01-01 00:00:00|  92|             80.72|                   3|              75.3|                    1|
|2020-01-01 00:00:00| 116| 328.7600000000001|                  18| 561.5100000000001|                   34|
|2020-01-01 00:00:00| 132|              NULL|                NULL| 6786.390000000004|                  139|
|2020-01-01 00:00:00| 134|             69.05|                   6|              NULL|                 NULL|
|2020-01-01 00:00:00| 136|            111.68|                   2|             168.0|                    4|
|2020-01-01 00:00:00| 152|58.519999999999996|                   6|251.73000000000002|                   16|
|2020-01-01 00:00:00| 160|              11.3|                   1|              NULL|                 NULL|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [40]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [43]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')

24/03/04 14:24:27 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers